body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
}

header, footer, nav, section {
    display: block;
}

/* Site styles */
div#main-body-content
{
    width: 400px;
    padding: 20px;
    margin: 2em auto;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}